<h1>Have A Burger!!</h1>

<h2>Burgers to EAT!!!!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger to Eat!</h2>

<form id='create form'>
    <div>
        <label for="burg">Burger Type:</label>
        <input type="text" id="burg" name="burger_name">
    </div>
    <button type="submit">Add Burger to Be Eaten!!</button>
</form>